In [36]:
import matplotlib.pyplot as plt
import os
import csv
import pandas as pd
import scipy.stats as st
import numpy as np
from sklearn import datasets

#krf  paths to each csv file needed
Happiness_2015 = "Resources/Happiness_2015.csv"
Happiness_2016 = "Resources/Happiness_2016.csv"
Happiness_2017 = "Resources/Happiness_2017.csv"
Happiness_2018 = "Resources/Happiness_2018.csv"
Happiness_2019 = "Resources/Happiness_2019.csv"

In [37]:
#krf reading in data from each csv file
combine15 = pd.read_csv(Happiness_2015)
combine16 = pd.read_csv(Happiness_2016)
combine17 = pd.read_csv(Happiness_2017)
combine18 = pd.read_csv(Happiness_2018)
combine19 = pd.read_csv(Happiness_2019)


#krf combine19.head()

In [38]:
#krf merge 2015 and 2016
combined = combine15.merge(combine16, on='Country')

#krf combined.head()

In [39]:
#krf merging to add 2017
combined2 = combined.merge(combine17, on='Country')

#krf combined2.head()

In [40]:
#krf merging to add 2018
combined3 = combined2.merge(combine18, on='Country')

#krf combined3.head()

In [41]:
#krf merging to add 2019
combined4 = combined3.merge(combine19, on='Country')

#krf combined4

#krf renaming dataframe
happiness_data = combined4

In [42]:
# total number of countries
country_total = len(happiness_data["Country"].unique())
country_total

141

In [43]:
#krf averages of happiness by year
#krf 2015
average_happiness15 = happiness_data["2015 Happiness Score"].mean()
#krf average_happiness15

#krf 2016
average_happiness16 = happiness_data["2016 Happiness Score"].mean()
#krf average_happiness16

#krf 2017
average_happiness17 = happiness_data["2017 Happiness Score"].mean()
#krf average_happiness17

#krf 2018
average_happiness18 = happiness_data["2018 Happiness Score"].mean()
#krf average_happiness18

#krf 2019
average_happiness19 = happiness_data["2019 Happiness Score"].mean()
#krf average_happiness19

#krf Happiness Average Summary

happiness_summary - pd.DataFrame({
    "2015 Happiness Average": [average_happiness15],
    "2016 Happiness Average": [average_happiness16],
    "2017 Happiness Average": [average_happiness17],
    "2018 Happiness Average": [average_happiness18],
    "2019 Happiness Average": [average_happiness19]
})
happiness_summary

,2015 Happiness Average,2016 Happiness Average,2017 Happiness Average,2018 Happiness Average,2019 Happiness Average
0,5.406716,5.397887,5.408291,5.440156,5.485383

In [35]:
#krf averages of natural disasters by year
#krf 2015
average_disasters15 = happiness_data["2015 Total Natural Disaster"].mean()
#krf average_happiness15

#krf 2016
average_disasters16 = happiness_data["2016 Total Natural Disaster"].mean()
#krf average_happiness16

#krf 2017
average_disasters17 = happiness_data["2017 Total Natural Disaster"].mean()
#krf average_happiness17

#krf 2018
average_disasters18 = happiness_data["2018 Total Natural Disaster"].mean()
#krf average_happiness18

#krf 2019
average_disasters19 = happiness_data["2019 Total Natural Disaster"].mean()
#krf average_happiness19

#krf Happiness Average Summary

disasters_summary = pd.DataFrame({
    "2015 Disaster Average": [average_disasters15],
    "2016 Disaster Average": [average_disasters16],
    "2017 Disaster Average": [average_disasters17],
    "2018 Disaster Average": [average_disasters18],
    "2019 Disaster Average": [average_disasters19]
})
disasters_summary

TypeError: Could not convert NullNullNullNull1NullNullNull2812Null4Null6Null11NullNullNullNull2Null7Null35Null34222NullNull24NullNull10Null3Null4NullNull31NullNull13Null221NullNullNullNull2NullNullNullNull12Null212NullNull10NullNull36Null1Null1NullNullNull31Null123NullNull4NullNull8NullNull2121Null223Null421Null3Null1613221331NullNullNullNullNull2Null3Null2Null171NullNull21 to numeric