In [1]:
import matplotlib.pyplot as plt
import os
import csv
import pandas as pd
import scipy.stats as st
import numpy as np
from sklearn import datasets

#krf  paths to each csv file needed
Happiness_2015 = "Resources/Happiness_2015.csv"
Happiness_2016 = "Resources/Happiness_2016.csv"
Happiness_2017 = "Resources/Happiness_2017.csv"
Happiness_2018 = "Resources/Happiness_2018.csv"
Happiness_2019 = "Resources/Happiness_2019.csv"

In [2]:
# reading in data from each csv file
combine15 = pd.read_csv(Happiness_2015)
combine16 = pd.read_csv(Happiness_2016)
combine17 = pd.read_csv(Happiness_2017)
combine18 = pd.read_csv(Happiness_2018)
combine19 = pd.read_csv(Happiness_2019)


#krf combine19.head()

,Country,2019 Happiness Rank,2019 Happiness Score,2019 Economy (GDP per Capita),2019 Family,2019 Health (Life Expectancy),2019 Freedom,2019 Trust (Government Corruption),2019 Generosity,2019 Total Natural Disaster,2019 Natural Disaster Total Affected,2019 Natural Disaster Total Deaths
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,Null,Null,Null
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,Null,Null,Null
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,1,150,1
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,Null,Null,Null
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,Null,Null,Null

In [4]:
# merge 2015 and 2016
combined = combine15.merge(combine16, on='Country')

#krf combined.head()

,Country,2015 Happiness Rank,2015 Happiness Score,2015 Economy (GDP per Capita),2015 Family,2015 Health (Life Expectancy),2015 Freedom,2015 Trust (Government Corruption),2015 Generosity,2015 Total Natural Disaster,...,2016 Happiness Score,2016 Economy (GDP per Capita),2016 Family,2016 Health (Life Expectancy),2016 Freedom,2016 Trust (Government Corruption),2016 Generosity,2016 Total Natural Disaster,2016 Natural Disaster Total Affected,2016 Natural Disaster Total Deaths
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,Null,...,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,Null,Null,Null
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,Null,...,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,Null,Null,Null
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,Null,...,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,Null,Null,Null
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,Null,...,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,Null,Null,Null
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,1,...,7.404,1.44015,1.09610,0.82760,0.57370,0.31329,0.44834,2,88300,0

In [5]:
# merging to add 2017
combined2 = combined.merge(combine17, on='Country')

#krf combined2.head()

,Country,2015 Happiness Rank,2015 Happiness Score,2015 Economy (GDP per Capita),2015 Family,2015 Health (Life Expectancy),2015 Freedom,2015 Trust (Government Corruption),2015 Generosity,2015 Total Natural Disaster,...,2017 Happiness Score,2017 Economy (GDP per Capita),2017 Family,2017 Health (Life Expectancy),2017 Freedom,2017 Trust (Government Corruption),2017 Generosity,2017 Total Natural Disaster,2017 Natural Disaster Total Affected,2017 Natural Disaster Total Deaths
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,Null,...,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,1,200,8
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,Null,...,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,Null,Null,Null
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,Null,...,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,Null,Null,Null
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,Null,...,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,Null,Null,Null
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,1,...,7.316,1.479204,1.481349,0.834558,0.611101,0.287372,0.435540,3,62554,2

In [6]:
# merging to add 2018
combined3 = combined2.merge(combine18, on='Country')

#krf combined3.head()

,Country,2015 Happiness Rank,2015 Happiness Score,2015 Economy (GDP per Capita),2015 Family,2015 Health (Life Expectancy),2015 Freedom,2015 Trust (Government Corruption),2015 Generosity,2015 Total Natural Disaster,...,2018 Happiness Score,2018 Economy (GDP per Capita),2018 Family,2018 Health (Life Expectancy),2018 Freedom,2018 Trust (Government Corruption),2018 Generosity,2018 Total Natural Disaster,2018 Natural Disaster Total Affected,2018 Natural Disaster Total Deaths
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,Null,...,7.487,1.420,1.549,0.927,0.660,0.357,0.256,1,16,0
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,Null,...,7.495,1.343,1.644,0.914,0.677,0.138,0.353,Null,Null,Null
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,Null,...,7.555,1.351,1.590,0.868,0.683,0.408,0.284,Null,Null,Null
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,Null,...,7.594,1.456,1.582,0.861,0.686,0.340,0.286,Null,Null,Null
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,1,...,7.328,1.330,1.532,0.896,0.653,0.291,0.321,4,7930,70

In [7]:
# merging to add 2019
combined4 = combined3.merge(combine19, on='Country')

#krf combined4

,Country,2015 Happiness Rank,2015 Happiness Score,2015 Economy (GDP per Capita),2015 Family,2015 Health (Life Expectancy),2015 Freedom,2015 Trust (Government Corruption),2015 Generosity,2015 Total Natural Disaster,...,2019 Happiness Score,2019 Economy (GDP per Capita),2019 Family,2019 Health (Life Expectancy),2019 Freedom,2019 Trust (Government Corruption),2019 Generosity,2019 Total Natural Disaster,2019 Natural Disaster Total Affected,2019 Natural Disaster Total Deaths
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,Null,...,7.480,1.452,1.526,1.052,0.572,0.343,0.263,1,0,4
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,Null,...,7.494,1.380,1.624,1.026,0.591,0.118,0.354,Null,Null,Null
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,Null,...,7.600,1.383,1.573,0.996,0.592,0.410,0.252,Null,Null,Null
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,Null,...,7.554,1.488,1.582,1.028,0.603,0.341,0.271,1,150,1
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,1,...,7.278,1.365,1.505,1.039,0.584,0.308,0.285,2,19500,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,1,...,3.334,0.359,0.711,0.614,0.555,0.411,0.217,2,5958,28
137,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,Null,...,4.883,0.393,0.437,0.397,0.349,0.082,0.175,1,24,13
138,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,Null,...,3.462,0.619,0.378,0.440,0.013,0.141,0.331,Null,Null,Null
139,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,2,...,3.775,0.046,0.447,0.380,0.220,0.180,0.176,3,13715,61
140,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1,...,4.085,0.275,0.572,0.410,0.293,0.085,0.177,Null,Null,Null